html {
  margin: 0;
}
body {
  margin: 0;
  background-color: #fafafa;
  font-family: nunito;
}
h1 {
  margin: 0 1rem;
}
p {
  margin: 0 1rem;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
header nav ul li {
  margin: 0.2rem;
}

footer nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
img {
  max-width: 100%;
  height: auto;
}

@media (width <= 500px) {
  header nav ul {
    padding: 0;
    margin: 0;
    background-color: #1a1a1a;
    color: #fff;
  }
  header {
    display: grid;
    place-items: center;
    background-color: #1a1a1a;
  }
  a {
    color: #fff;
    font-size: 0.6rem;
  }
}
